# App
NODE_ENV=development
APP_ENV=local

# Frontend
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=

# API
API_PORT=4000
API_HOST=0.0.0.0
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=

